<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8" />
      <meta
         name="viewport"
         content="width=device-width, initial-scale=1, shrink-to-fit=no"
      />
      <meta property="og:title" content="Personal Portfolio" />
      <meta property="og:description" content="My Personal Portfolio" />
      <meta property="og:url" content="{{ url }}" />

      <link rel="preconnect" href="https://fonts.gstatic.com" />
      <link
         href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
         rel="stylesheet"
      />

      <link lang="sass" rel="stylesheet" href="./static/styles/main.css" />
      <link rel="icon" href="./static/img/favicon.ico" type="image/x-icon" />
      <title>{{ title }}</title>
   </head>

   <body>
      <header class="nav-bar">
         <div class="nav-content">
            <a href="/">
               <div class="nav-logo">
                  <img src="./static/img/logo.svg" />
               </div>
            </a>
            <a href="/hobbies">Hobbies</a>
         </div>
      </header>

      <div class="profile">
         <div id="profile-picture" class="profile-picture">
            <img src="./static/img/logo.jpg" />
         </div>
         <h1>Tia Marie Gordon</h1>
      </div>

      <main>
         <div class="prev-work-experience">
            <h2>Previous Work Experience</h2>

            <h2>Work Experience</h2>
            <ul>
               {% for job in work_experience %}
               <li>
                  <strong>{{ job.position }}</strong> at {{ job.company }}
                  <em> - {{ job.description }}</em>
               </li>
               {% endfor %}
            </ul>
         </div>

         <h2>Education</h2>
         <ul>
            {% for edu in education %}
            <li>
               <strong>{{ edu.degree }}</strong>, {{ edu.school }} ({{ edu.year
               }})
            </li>
            {% endfor %}
         </ul>
      </main>
   </body>
</html>
