<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <title>{{ title }}</title>
</head>

<body>
    <header class="nav-bar">
        <div class="nav-content">
            <a href="/">
                <div class="nav-logo">
                    <img src="./static/img/logo.svg" />
                </div>
            </a>
        </div>
    </header>

    <div class="profile">
        <div id="profile-picture" class="profile-picture">
            <img src="./static/img/logo.jpg">
        </div>
        <h1>{{ title }}</h1>
    </div>

    <main>
        <div class="about-me">
            <h2>About Me</h2>
            <p>Greetings! My name is Tia Marie Gordon. Technically, my first name is Tia Marie, but I preferred to be called Tia.</p>
            <p>
                Here is a little bit about me:
            </p>

            <ul>
                <li>I'm 33 years old and currently live in Washington.</li>
                <li>Originally, I'm from Florida, but moved to Texas around my 16th birthday, then to Washington around my 20th.</li>
                <li>My interest in tech started with my dad building me a basic custom PC when I was younger.</li>
                <li>I studied in Marine Biology during my first stint at college with a focus in Killer Whales.</li>
                <li>I discovered my love for coding while assisting my husband with creating a game.</li>
                <li>World of Warcraft is a passion of mine and I've played it since roughly 2009. It's actually where I met my husband.</li>
            </ul>
        </div>
    </main>
</body>
</html>